* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    transition: .3s;
}

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 52.5%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}