$lightblue: #f2fefe;
$blue: #9bddd8;
$middleblue: #29d9c2;
$darkblue: #01a2a6;
$purple: #10273d;
$lightyellow: #f4e79d;
$yellow: #ffffa6;
$darkeryellow: #f5e99e;
$white: #ffffff;
$grey: #aeaeae;
$placeholdergrey: #b9b9b9;
$greyer: #626262;
$green: #bdf271;
$dark: #777777;
$lightblack: #2f2933;
$black: #000000;

$facebookBlue: #4d6baa;
$twitterBlue: #4fc6f8;
$instagramRed: #ed6060; 
